* {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

ul, ol {
	list-style: none;
}

.clr {
	clear: both;
}

.full-wr {
	width: 100%;
}

.main-wr {
	width: 1140px;
	margin: auto;
}

.full-menu {
	padding: 20px 0;
	background-color: #f7f3f3;
}

/* from top-nav */
.header_logo h2{
	color: #fff;
	font-size: 20px;
	padding-top: 15px;
}

.header_logo {
    width: 15%;
    float: left;
} 

.header_logo a img {
    width: 28px;
    margin-top: 2px;
}

.top_header {
    background-color: #bd070e;
    height: 2rem;
    line-height: 0.1rem;
}


.top_header_mid {
    width: 60%;
    float: left;

}

.marq{
   padding: 8px 0;
}

.top_header_mid marquee {
    color: #fff;
    padding-top: 20px;
}

.top_social_icon {
    width: 20%;
    float: left;
}

.top_social_icon a img {
    width: 30px;
    padding-top: 15px;
}

/*top header part end*/


/*header part start*/
.header {
	height: 100px;
}

.header_left {
	width: 20%;
}

.header_left a {
	float: left;
}

.header_left_logo{
    display: inline;
}

.header_left_logo a img{
	width: 70px;
    margin-top: 5px;
}

.header_right {
	float: right;
	line-height: 5.1rem;
}

.header_right .search_box {
    height: 35px;
    width: 250px;
    background-color: #ddd;
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 0 15px;
    box-sizing: border-box;
}

.search_btn {
    height: 35px;
    background: #bd070e;
    color: #fff;
    width: 60px;
    border: 0;
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
/* from top-nav end */
.logo {
	width: 30%;
	float: left;
}

.menu {
	width: 70%;
	float: left;
	text-align: right;
}

.menu ul li {
	display: inline-block;
}

.menu ul li a {
	display: block;
	padding: 10px 12px;
	color: #bd070e;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Exo', sans-serif;
	text-transform: uppercase;
	transition: 0.5s all linear;
	border-bottom: 1px solid transparent;
}

.menu ul li a:hover {
	color: #BD070E;
	border-color: #BD070E;
	transform: scale(1.1);
}

/*banner part*/
.full-banner {
	background: url(../front/ggg.jpg) left top no-repeat;
	background-size: cover;
	height: 600px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

/*summarise part*/
.full-summarise {
	font-family: 'Lato', sans-serif;
	padding: 60px 0;
	background-color: #f5f6fa;
}

.section-title{
	text-align: center;
}

.section-title h3{
	font-size: 28px;
	font-weight: 600;
	text-transform: capitalize;
}

.section-title p{
	font-size: 14px;
	font-weight: 300;
}
/*summarise bottom*/
.summarise-col{
	float: left;
	width: 25%;
}

.summarise-content{
	padding: 10px 10px;
	text-align: center;
}

.summarise-content i{
	margin: 20px 0;
	font-size: 44px;
	background-color: transparent;
	height: 70px;
	padding: 20px 10px 0 10px;
	width: 70px;
	color: #BD070E;
	border: 1px solid #BD070E;
	border-radius: 50%;
	transition: all 0.5s linear;
	cursor: pointer;
}

.summarise-col:hover .summarise-content i{
	background-color: #BD070E;
	color: #fff;
}

.summarise-content h4{
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 700;
	transition: all 0.5s linear;
	cursor: pointer;
}

.summarise-col:hover .summarise-content h4{
	color: #BD070E;
}

.summarise-content p{
	font-size: 14px;
	font-weight: 300;
	padding: 10px 10px;
}

/*pricing part*/
.full-price {
	padding: 80px 0;
	font-family: 'Lato', sans-serif;
}

.price-col {
	width: 33.3%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
	transition: 0.5s all linear;
}

.price-content {
	border: 1px solid #dad7d7;
	background-color: #f9f9f9;
	padding: 20px 0;
	text-align: center;
}

.price-content h3 {
	text-transform: uppercase;
	color: #BD070E;
	font-size: 17px;
	font-weight: 700;
}

.price-content h2 {
	color: #ffffff;
	background-color: #BD070E;
	padding: 5px 0;
	font-size: 24px;
	text-transform: capitalize;
	font-weight: 400;
	margin: 15px 0;
}

.price-content a {
	font-weight: 700;
	font-size: 15px;
	margin: 10px 0;
}

.price-col a:hover{
	cursor: pointer;

}




/* new css  */

.l {
	color: #ffffff;
	margin-left: 10px;
	border: none;

}

.l:hover {
	border-bottom: 1px solid #f3efef;
}

.log-reg {
	float: right;
	padding: 20px 0;
}

/* contact part */
.full-contact {
	font-family: 'Lato', sans-serif;
	padding: 60px 0;
	background-color: #f5f6fa;
}

/*footer part*/
.full-footer {
	font-family: 'Lato', sans-serif;
	padding: 60px 0;

	background-color: #f5f6fa;
}

.section-title h3{
	font-size: 28px;
	font-weight: 600;
	text-transform: capitalize;
}

.section-title p{
	font-size: 14px;
	font-weight: 300;
}
/*footer bottom*/
.footer-col{
	float: left;
	width: 20%;
}

.footer-content{
	text-align: left;
}
.footer-content h4{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 18px;
	padding: 10px 0;
	font-weight: 700;
	transition: all 0.5s linear;
	cursor: pointer;
}

.footer-content h5{
	padding: 5px 0;
}

.footer-col:hover .footer-content h4{
	color: #BD070E;
}

.footer-content p{
	font-size: 14px;
	font-weight: 300;

}

.footer_right {
	width: 20%;
	float: center;
	margin-left: 50%;
}

.footer_right a {
	float: left;
}

.footer_right_logo{
    display: inline;
}

.footer_right_logo a img{
	width: 90px;
    margin-top: 5px;
}

